/* Paleta de cores:
Cinza escuro: #58626C
Dourado: #DAC8BE
Laranja: #ECC1A1
Cinza claro: #F5F1EE */

/* B A S E =========================================== */

html{
    background-color: ghostwhite;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    color: #58626C;
    font-weight: bolder;
}



/* C A B E Ç A L H O ================================= */

header{
    background:  #58626C;
    color: #F5F1EE;

    position: fixed;
    top: 0;
    left: 0;
    width: 101%;
    height: 150px;

    box-shadow: 0px 2px 10px rgba(26, 26, 26, 0.45);
}

.cabecalho{
    height: 100%;
    width: 100%;

    display: flex;

    /* line-height: 3px; */
}


img{
    position: relative;
    align-self: center;
    margin-left: 30px;
    margin-right: 30px;
}


.titulos{
    position: relative;
    align-self: center;
}
.titulos h1{
    font-size: xx-large;

    margin-left: 10px;
    padding-left: -20px;
    padding-right: 70px;

    border-bottom: solid;
}
.titulos p{
    font-size: medium;

    margin-left: 10px;
}


.creditos{
    position: fixed;

    top: 15px;
    right: 20px;

    font-style: italic;
    font-size: small;
    font-weight: 400;
    line-height: 5px;
}



/* C O R P O ======================================*/

.pagina{
    display: flex;
    flex-direction: column;
    column-gap: 30px;
}


.formulario{
    display: flex;

    height: 100%;
    width: 100%;

    flex-direction: row;
}

body{
    margin-top: 0.5cm;
    min-width: 20cm;
    position: relative;
    top: 5cm;
    margin-left: 0.7cm;
    margin-right: 0.7cm;
}

h2{
    font-size: x-large;
}

fieldset{
    width: 400px;
    height: 40px;
    margin-bottom: 1cm;
    border-radius: 20px;
}

legend{
    font-size: medium;
}

label{
    color: rgb(105, 105, 105);
}

form input{
    min-width: 365px;
    height: max-content;
    outline: none;
    color: rgb(105, 105, 105);
    background-color: ghostwhite;
    border: 0px;
    border-radius: 8px;
}

.invalido{
    color: rgb(216, 28, 3);
}

textarea{
    max-height: 100px;
    min-height: 100px;
    outline: none;
    color: rgb(105, 105, 105);
    background-color: ghostwhite;
    border: 0px;
    border-radius: 8px;
}

.Texto{
    height: 120px;
}

.aumenta input{
    width: 387px !important;
}

.botao{
    cursor: pointer;
    height: 1cm;
    border: none;
    border-radius: 10px;
    background:   #ECC1A1;
    color: #58626C;
    font-size: 1.1rem;
    transition: all .2s ease-in-out;
}

.botao:hover{
    background:  #f6ceb0;
}

footer{
    margin-top: 1cm;
}

.ativo{
    color:#ECC1A1 !important;
    border-color: #ECC1A1 !important;
}

.inativo{
    color:rgb(105, 105, 105) !important;
    border-color: rgb(184, 182, 182) !important;
}


.resultado{
    height: 100%;
    width: 100%;
}
